/* 
style sheet for ToDo list
 */

body { font-family: monospace, 'Courier New', Courier;}

main { 
    width: 100%; 
    min-height: 400px; 
    max-height: 100%; 
    background-color: #dceefe; 
    padding-top: 20px;
    padding-bottom: 30px;
}

#taskListBgr { 
    min-height: 300px; 
    max-height: 100%; 
    background-color:lightgrey; }

div {padding-left: 40px;}

div#divCounter { height: 90px; padding-left: 40px; }

li {list-style-type:circle;}

.divFixedHeight { height: 40px; }

.completed {
text-decoration: line-through;
color:rgb(120, 120, 120);
}

.infoTextColor { color:brown;}

.inputPadd { margin-top: 6px;}