/* 
style sheet for ToDo list
 */

body { font-family: monospace, 'Courier New', Courier; font-size:larger; }

main { 
    width: 70%; 
    min-height: 400px; 
    max-height: 100%; 
    background-color: #dceefe; 
    padding-top: 20px;
    padding-bottom: 30px;
}

#completedTasks {font-size: large;}

/* div styling */
.divFixedHeight { height: 80px; }

div {padding-left: 50px;}

div#divCounter {color:rgb(154, 154, 154); height: 40px; padding-left: 40px; background-color:rgb(233, 242, 250);}


/* list default to marked 'Done' */
li {list-style-type:circle; padding-bottom: 2px;}

.listText {color:black;}/* rgb(18, 178, 18) */

.completed {
text-decoration: line-through;
color:rgb(154, 154, 154);/* rgb(195, 106, 106) */
}

#taskListFrame { 
    min-height: 300px; 
    max-height: 100%; 
    background-color:rgb(233, 242, 250);
    padding-top: 10px;
}


/* various styling */
.infoTextColor { color:rgb(30, 128, 209);}

.inputPadd { margin-top: 6px;}

.trashcan { padding-left: 10px;}

ul {padding:0; margin:0;}